<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>9BE30915-6F55-4EF7-8D18-1B091B939C84</key>
	<dict>
		<key>partialPath</key>
		<string></string>
		<key>policySearch</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
